<%- include("partials/header") -%>
<div class="comp-body">
  <h1 class="display-4"><%= info %></h1>
  <p class="lead"><%= te %></p>
  <hr class="my-4">
  <p><%= moreTe %></p>
  <a class="btn btn-primary btn-lg" href="/" role="button">Home</a>
</div>
<%- include("partials/footer") -%>
