<%- include("partials/header") -%>

<div class="broi">
  <h1>Browse our wide selection of <%= pageTitle %></h1>
</div>
<section id="tanks">
  <div class="row pok">
<% tanks.forEach(function(tank) { %>
  <div class="card custurd col-lg-4 col-sm-12">
    <h2 class="tank-title"> <%= tank.tankName %></h2>
    <img class="tank-img" src="<%= tank.tankSRC %>" alt="tank-img, posted by user">

    <p class="title"><%= tank.tankBody %></p>
    <br>
    <div class="fink">

      <h6><strong>Price:</strong> <%= tank.tankPrice %> </h6>
      <a class = "btn btn-primary btn-block" href="<%= getURL %><%= tank.tankName %>">Learn More</a>
    </div>
  </div>
<% }); %>



</section>

<%- include("partials/footer") -%>
