<%- include("partials/header") -%>
  <div class="main-img">
    <img class="main-itself" src="/uploads/<%= tank.images[0] %>" alt="Fuc">
  </div>
  <div class="sm-imgs">
    <img class="current small-img " src="/uploads/<%= tank.images[0] %>" alt="">
<% for(let i = 1; i < tank.images.length; i++) { %>
  <img class="small-img " src="/uploads/<%= tank.images[i] %>" alt="">
<% } %>

  </div>
  <div class="main-text text">
    <h1 class= "user-title"><%= tank.tankName %></h1>
    <p class="title med text"><%= tank.tankBody %></p>
      <br><br>

<h1 class= "user-title"><%= tank.tankName2 %></h1>
<p class="title med text"><%= tank.tankBody2 %></p>
      <br><br>
      <h1 class= "user-title"><%= tank.tankName3 %></h1>
      <p class="title med text"><%= tank.tankBody3 %></p>
  </div>

  <div class="button-dropdown">
    <a href = "<%= tank.locale %><%= tank._id %>/makeoffer" class="button-itself btn btn-primary btn-lg">Make an offer</a>
  </div>


<%- include("partials/footer") -%>
