<%- include("partials/header") -%>




  <div class="main-img">
    <img class="main-itself" src="<%= tankSRC %>" alt="Fuc">
  </div>
  <div class="sm-imgs">
    <img class="current small-img sm-one" src="<%= tankSRC %>" alt="">
    <img class="small-img sm-two" src="/public/images/leclerc.jpg" alt="">
    <img class="small-img sm-three" src="/public/images/leo-2.jpg" alt="">
    <img class="small-img sm-four" src="/public/images/mk1.jpg" alt="">
    <img class="small-img sm-five" src="/public/images/t-14.jpg" alt="Fuck">
    <img class="small-img sm-five" src="/public/images/yode.jpg" alt="Fuck">
  </div>
  <div class="main-text text">
    <h1 class= "user-title"><%= userPageTitle %></h1>
    <p class="title med text"><%= userPageBody %></p>
      <br><br>

<h1 class= "user-title">Maintenance Record</h1>
<p class="title med text">Ultrices vitae auctor eu augue ut lectus arcu bibendum at. Dui faucibus in ornare quam viverra orci. Vulputate ut pharetra sit amet aliquam id diam. Libero volutpat sed cras ornare arcu. Risus quis varius quam quisque id. Vitae aliquet nec
      ullamcorper sit amet risus. Neque laoreet suspendisse interdum consectetur libero id faucibus nisl. Pharetra vel turpis nunc eget lorem dolor sed viverra ipsum. Donec ac odio tempor orci dapibus ultrices. Senectus et netus et malesuada fames.
      Neque aliquam vestibulum morbi blandit cursus risus at ultrices. Auctor elit sed vulputate mi sit. Pellentesque id nibh tortor id aliquet lectus proin nibh. Vulputate eu scelerisque felis imperdiet proin fermentum. Est velit egestas dui id.
      Pellentesque habitant morbi tristique senectus et. Amet consectetur adipiscing elit pellentesque habitant morbi. Lectus vestibulum mattis ullamcorper velit sed ullamcorper morbi tincidunt. Nulla aliquet porttitor lacus luctus accumsan tortor.</p>
      <br><br>
      <h1 class= "user-title">Service Record</h1>
      <p class="title med text">Porttitor leo a diam sollicitudin. Aenean et tortor at risus viverra adipiscing at in. Dictum non consectetur a erat nam. Tristique magna sit amet purus gravida quis. Fames ac turpis egestas integer eget aliquet nibh. Aliquam sem fringilla ut
      morbi tincidunt augue interdum velit euismod. Eu consequat ac felis donec et odio pellentesque diam volutpat. Facilisis leo vel fringilla est. Pretium vulputate sapien nec sagittis aliquam malesuada bibendum arcu vitae. Turpis tincidunt id
      aliquet risus feugiat in. Etiam sit amet nisl purus in mollis nunc sed. Purus gravida quis blandit turpis cursus in hac habitasse. Turpis egestas sed tempus urna et pharetra.</p>
  </div>

  <div class="button-dropdown">
    <p class="button-itself btn btn-primary btn-lg">⇩ Make an offer  ⇩</p>
  </div>

<section id = "bottom">

  <div  class = "contact-form text main-text">
  <h6><strong>Minimum Offer:</strong> <%= tankPrice %> </h6>
  <h6><strong>Current Offer:</strong> $273, 052</h6><br>
<p class = "title">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Diam maecenas sed enim ut sem. Ultrices mi tempus imperdiet nulla malesuada pellentesque elit eget. Pretium fusce id velit ut tortor pretium. Tincidunt arcu non sodales neque sodales ut. Risus nullam eget felis eget nunc. Mi eget mauris pharetra et ultrices neque ornare aenean. Nunc scelerisque viverra mauris in aliquam sem. Adipiscing enim eu turpis egestas pretium aenean pharetra magna. Scelerisque eu ultrices vitae auctor eu augue ut lectus arcu. Tellus pellentesque eu tincidunt tortor. Mollis nunc sed id semper risus. Suspendisse potenti nullam ac tortor.</p>

<br>
<div class="peem">
<video class = "spleen" controls>
<source src="../public/videos/peem.mp4" type="video/mp4">
</video>

</div>
</section>
<%- include("partials/footer") -%>
