<%- include("partials/header") -%>




  <div class="main-img">
    <img class="main-itself" src="<%= tankSRC %>" alt="Fuc">
  </div>
  <div class="sm-imgs">
    <img class="current small-img sm-one" src="<%= tankSRC %>" alt="">
    <img class="small-img sm-two" src="<%= tankSRC2 %>" alt="">
    <img class="small-img sm-three" src="<%= tankSRC3 %>" alt="">
    <img class="small-img sm-four" src="<%= tankSRC4 %>" alt="">
    <img class="small-img sm-five" src="<%= tankSRC5 %>" alt="Fuck">
    <img class="small-img sm-five" src="<%= tankSRC6 %>" alt="Fuck">
  </div>
  <div class="main-text text">
    <h1 class= "user-title"><%= userPageTitle %></h1>
    <p class="title med text"><%= userPageBody %></p>
      <br><br>

<h1 class= "user-title"><%= tankName2 %></h1>
<p class="title med text"><%= tankBody2 %></p>
      <br><br>
      <h1 class= "user-title"><%= tankName3 %></h1>
      <p class="title med text"><%= tankBody3 %></p>
  </div>

  <div class="button-dropdown">
    <p class="button-itself btn btn-primary btn-lg">⇩ Make an offer  ⇩</p>
  </div>

<section id = "bottom">

  <div  class = "contact-form text main-text">
  <h6><strong>Minimum Offer:</strong> <%= tankPrice %> </h6>
  <h6><strong>Current Offer:</strong> $273, 052</h6><br>
<p class = "title">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Diam maecenas sed enim ut sem. Ultrices mi tempus imperdiet nulla malesuada pellentesque elit eget. Pretium fusce id velit ut tortor pretium. Tincidunt arcu non sodales neque sodales ut. Risus nullam eget felis eget nunc. Mi eget mauris pharetra et ultrices neque ornare aenean. Nunc scelerisque viverra mauris in aliquam sem. Adipiscing enim eu turpis egestas pretium aenean pharetra magna. Scelerisque eu ultrices vitae auctor eu augue ut lectus arcu. Tellus pellentesque eu tincidunt tortor. Mollis nunc sed id semper risus. Suspendisse potenti nullam ac tortor.</p>

<br>
<div class="peem">
<video class = "spleen" controls>
<source src="../public/videos/peem.mp4" type="video/mp4">
</video>

</div>
</section>
<%- include("partials/footer") -%>
